*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  margin: 20px;
}

input{
  padding: 7px;
  border-radius: 5px ;
}

.hour{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.addbtn{
  padding: 7px;
  background-color: rgb(125, 190, 192);
  font-weight: bold;
  color: white;
}

.addedthings {
  margin: 15px;
  border: 1px solid black;
  padding: 7px;
  width: 220px;
  display: flex;
  justify-content: space-evenly;
 
}

.plus{
  height: 20px;
  width: 30px;
  background-color: green;
  color: aliceblue;
}

.minus {
  height: 20px;
  width: 30px;
  background-color: red;
  color: aliceblue;
}



